<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  
	  <!-- Lots of apple specific stuff! -->
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png"/>
		<link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png"/>
		<link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png"/>
		<link href="/css/reset.css" rel="stylesheet" type="text/css" >
		<link href="/css/html5bp.main.css" rel="stylesheet" type="text/css" >
		
		<!-- Google Font pairings - http://bit.ly/qCTNeX --> 
    <!-- Lobster & Cabin --> 
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'> 
		<link href="/css/host.css" rel="stylesheet" type="text/css" >
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.1.0/knockout-min.js" type="text/javascript"></script>
		<script src="/js/Data.js" type="text/javascript"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/drawingHost.js" type="text/javascript"></script>

		<script src="/js/drawing/Surface.js"></script>
		
	</head>

	<body>
		<div data-bind="ifnot: initialised">
			<img src="/img/spinner.png" id="spinner" alt="Please wait spinny spinny" style="margin: 10% auto;" />
		</div>
		<div>
				<section id="main">
					<div id="canvasWrapper" class="clearfix"></div>
					<article id="currentPlayer" data-bind="if: currentPlayer, visible : currentPlayer"><span data-bind="text: currentPlayer().name"></span> - you're up!</article>
					
					<div id="gameState" data-bind="visible: state() === 'word' ">Choosing word...</div>
					
				</section>

				<section id="supporting">
					<section id="logoWrapper">
						<img src="/img/pencil.png" alt="Let's draw" id="logo" />
						<h1 id="mainTitle">Pingo</h1>
					</section>

					<section id="timerWrapper">
						<img src="/img/spinner140.png" class="spinner" alt="" />
						<time datetime="" class="timerSecs">60</time>
					</section>

					<section id="playerScores" data-bind="if: players().length > 0">
						<h2>Scores</h2>
						<ol data-bind="foreach: players">
							<li class="clearfix">
								<strong class="score" data-bind="text: score"></strong>
								<em class="name" data-bind="text: name" ></em>
							</li>
						</ol>
					</section>

					<!-- <section id="join" class="maxi" > during the "before starting" screen-->
					<section id="join" data-bind="css: { mini: started, maxi: !started() }">
						<h2 class="title">Join in</h2>
						<a data-bind="attr: { href: joinUrl }" class="link"><img 
							data-bind="attr: { src : 'https://chart.googleapis.com/chart?cht=qr&amp;chs=500x500&amp;chl=' + encodeURIComponent(joinUrl())  }"
							 id="theQRCode" alt="Scan the code to join in"/></a>
						<!--<p class="joinNow">Or type <strong data-bind="text: id"></strong></p>-->
						<button id="start" class="button" data-bind="enable: pendingStart, click: startGame, visible: pendingStart">Start Game</button> 
					</section>

				</section>
			</div>
	<!--<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>-->
		<script>
			jQuery(function($) {
				drawingHost.init(document.body, 
					'<%= gameId %>',
					'<%= joinUrl %>');
			})
		</script>
	</body>
</html>