<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="/css/reset.css" rel="stylesheet" type="text/css" >
		<!-- GOogle fonts - Corben & Nobile -->
		<link href="//fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
		<link href="//fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
		<link href="/css/html5bp.main.css" rel="stylesheet" type="text/css" >
		<link href="/css/play.css" rel="stylesheet" type="text/css" >
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.1.0/knockout-min.js" type="text/javascript"></script>
				    <script src="/socket.io/socket.io.js"></script>
		<script src="/js/Data.js" type="text/javascript"></script>
		<script src="/js/drawingPlayer.js" type="text/javascript"></script>

		<script src="/js/drawing/Surface.js"></script>
		<script src="/js/drawing/Editor.js"></script>

		<link href="/js/drawing/drawing.css" rel="stylesheet" type="text/css" >

	</head>

	<body>
		<div id="container">
			<div data-bind="visible: !initialised() || view() === 'wait'" id="waitMask">
				Please wait
			</div>

			<div id="drawing" >
				<div class="header" data-bind="if: view() === 'draw'"><span data-bind="text:word" class="word"></span>
					<button data-bind="click: passTurn">Pass Turn</button>
				</div>
				<div class="painting"  data-bind="afterRender: initEditor()"></div>
			</div>

			<div data-bind="visible: view() === 'word'" class="full" style="display:none;" id="pickWord">
				<p>It is your turn. Pick a word to draw.</p>
				<ul data-bind="foreach: wordChoices" >
					<li><a href="#" data-bind="click: $parent.chooseWord, text: $data"></a></li>
				</ul>
			</div>

			<div data-bind="visible: view() === 'guess'"  style="display:none;" class="full" id="guess">
				<input type="text" data-bind="value: guess, valueUpdate: 'afterkeydown'" id="guessWord" style="font-size:1.5em;">
				<br /><button data-bind="click: submitGuess, enable: guess().length > 1">Guess</button>
			</div>
		</div>

		<audio id="ding">
		  <source src="/ding.mp3" type="audio/mpeg">
		</audio>
		<script>
			jQuery(function($) {
				drawingPlayer.init('<%= gameId %>', window.location.hash.substring(1));
			});
		</script>
	</body>
</html>