/*Some styles for the host*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; } /** http://paulirish.com/2012/box-sizing-border-box-ftw/ **/

body,html{height: 100%; overflow: hidden;}
body{
	background:#ddd;
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
	font-size: 1em;
	-webkit-backface-visibility: hidden; /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
}
h1,h2,h3,h4 {
	font-family: 'Corben', Georgia, Times, serif;
}
h1{
	font-size: 3em;
	/*text-shadow:1px 1px 1px #ccc;*/
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: #f5f5f5;
	text-shadow: 3px 3px 3px #aaa;
}
h2{font-size: 1.5em;}
h3{font-size: 1.2em;}
h4{font-size: 1em;}

#main {
	position: absolute;	
	left: 0;
	top: 0;
	width: 85%;
	height: 100%;
	padding: 20px 10px;
}
#logo{
	float: left;
	width: 10%;
	max-width: 100px;
}
#mainTitle{
	float: left;
	width: auto;
	margin-top: .3em;	
	padding-left: .2em;
	/*text-shadow: 1px 1px 1px #fff;*/
}

#currentPlayer{
	position: absolute;
	top: 0;
	right: 240px;
	width: 200px;
	text-overflow:elipsis;
	padding: .5em 0; 	
}
#gameState{
	position: absolute;
	top: 0;
	right: 440px;
	width: 200px;
	padding: .5em 0; 	
	text-overflow:elipsis;
}

#canvasWrapper{
	border:4px solid #fff;
	position:absolute;
	bottom: 10px;
	width: 960px;
	height: 640px;
}

#supporting{
	position: absolute;	
	right: 0;
	top: 0;
	width: 220px;
	height: 100%;
	background: #ccc;
}

/* Right hand side */
#timerWrapper {
	position: absolute;
	top:0;
	right:0;
	height: 240px;
	max-height: 30%;
	padding: 20px;
	width: 100%;
}

#timerSecs{
	position: absolute;
	top: 60px;
	left: 10%;
	width: 80%;
	font-size: 4em;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-family: 'Corben', Georgia, Times, serif;
}
#spinner {
	position: absolute;
	left:10px;
	top:20px;
	white-space: nowrap;
	overflow: hidden;
	width: 200px;
	height: 200px;
}
.spin #spinner {
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-ms-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}

#startWrap{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display: block;
	background: rgba(0, 0, 0, 0.6);
}
#startWrap button {
	font-family: 'Corben', Georgia, Times, serif;
	font-size: 1.3em;
	border: 0;
	border-radius: 4px;
	margin-top:80px;
}

#playerScores {
	padding: 20px;
	position: absolute;
	top: 240px;
	max-height: 30%;
	overflow: auto;
	width: 100%;
}
#playerScores ol{}
#playerScores li{
	margin-left: 27px;
	padding: 0 0 5px 0;
	list-style-type: decimal;
}
#playerScores li strong{}

#join {
	position: absolute;
	bottom:0;
	right:0;
	max-height: 40%;
	width: 100%;
	padding: 20px;
}
#join .title{}
#theQRCode{
	width: 100%;
}
#join .joinNow{
	word-wrap:break-word;
}
#join .joinNow strong{}