/*Some styles for the host*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; } /** http://paulirish.com/2012/box-sizing-border-box-ftw/ **/

body,html{height: 100%; overflow: hidden;}
body{
	background:#ddd;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 1em;
	-webkit-backface-visibility: hidden; /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
}
h1,h2,h3,h4 {
	font-family: 'Lobster', Georgia, Times, serif;
	color: #000;
	text-shadow: 1px 1px 1px #EEE;
}
h1{
	font-size: 3.5em;
	/*text-shadow:1px 1px 1px #ccc;*/
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #f5f5f5;
	text-shadow: 3px 3px 3px #aaa;
	text-transform: capitalize;
	font-weight: bold;
}
h2{
    font-size: 1.5em;
    padding: .125em 0;
    /*background: #AF1D8C;*/
    background: #FDF416;
    margin: 0 -5% .5em -11%;
    box-shadow: 3px 3px 0px #5A5151;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
}
h3{font-size: 1.2em;}
h4{font-size: 1em;}

#main {
	position: absolute;	
	left: 0;
	top: 0;
	width: 85%;
	height: 100%;
	padding: 0;
}
#logoWrapper{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	height: 10%;
	width: 100%;
}
#logo{
	float: right;
	width: 30%;
	max-width: 100px;
	margin-top: 5px;
}
#mainTitle{
	float: right;
	width: auto;	
	padding-right: .05em;
	text-align: right;
}

#gameState{
	position: absolute;
	top: 0;
	right: 440px;
	width: 200px;
	padding: .5em 0; 	
}

#canvasWrapper{
	border:4px solid #999;
	position:absolute;
	bottom: 0%;
	height: 100%;
	width: 100%;
	background: #fff;
	z-index: -1;
}

#supporting{
	position: absolute;	
	right: 0;
	top: 0;
	width: 15%;
	height: 100%;
	background: #ccc;
	text-align: center;
	min-width: 140px;
}

/* Right hand side */
#timerWrapper {
	position: absolute;
	top: 10%;
	right:0;
	height: 20%;
	max-height: 30%;
	padding: 10px;
	width: 100%;
	text-align: center;
}

#timerWrapper .timerSecs{
	position: absolute;
	top: .8em;
	left: 10%;
	width: 80%;
	font-size: 3em;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-family: 'Corbin', Georgia, Times, serif;
	color: black;
	text-shadow: 2px 2px 2px #333;
}
#timerWrapper .spinner {
	white-space: nowrap;
	overflow: hidden;
	width: 140px;
	height: 140px;
	margin: 0 auto;
}
#timerWrapper.spin .spinner {
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-ms-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}

.button {
	text-align: center;
	display: block;
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 3em;
	border: 4px solid #000;
	border-radius: .5em;
	text-shadow:1px 1px 1px #fff;

	background: rgb(253,244,22); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(253,244,22,1) 0%, rgba(252,247,156,1) 36%, rgba(252,243,83,1) 65%, rgba(252,244,95,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,244,22,1)), color-stop(36%,rgba(252,247,156,1)), color-stop(65%,rgba(252,243,83,1)), color-stop(100%,rgba(252,244,95,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(253,244,22,1) 0%,rgba(252,247,156,1) 36%,rgba(252,243,83,1) 65%,rgba(252,244,95,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(253,244,22,1) 0%,rgba(252,247,156,1) 36%,rgba(252,243,83,1) 65%,rgba(252,244,95,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(253,244,22,1) 0%,rgba(252,247,156,1) 36%,rgba(252,243,83,1) 65%,rgba(252,244,95,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(253,244,22,1) 0%,rgba(252,247,156,1) 36%,rgba(252,243,83,1) 65%,rgba(252,244,95,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf416', endColorstr='#fcf45f',GradientType=0 ); /* IE6-9 */

	box-shadow: 2px 2px 10px #333;

}
#start.button{
	position: fixed;
	left: 23%;
	top: 42.5%;
	width: 40%;
	margin: -1em -15% 0 0;
	padding: .5em;
	cursor: pointer;

	border: 20px double #000;

	-webkit-transition:left 1s ease-in-out, border 0.5s ease-in-out;
	-moz-transition:left 1s ease-in-out, border 0.5s ease-in-out;
	-o-transition:left 1s ease-in-out, border 0.5s ease-in-out;
	-ms-transition:left 1s ease-in-out, border 0.5s ease-in-out;
	transition:left 1s ease-in-out, border 0.5s ease-in-out;
}
#start.button:hover,
#start.button:focus{
	border: 4px solid #000;
}
#start.button.playing {
	left: -100%;
}
#currentPlayer{
	position: fixed;
top: 0;
left: 0;
font-family: 'Lobster', Georgia, Times, serif;
font-size: 1.6em;
padding: .2em 1.2em;
background: #FDF416;
box-shadow: 3px 3px 0px #5A5151;
color: black;
text-shadow: 1px 1px 1px white;
}
#playerScores {
	padding: 10px;
	position: absolute;
	top: 30%;
	max-height: 30%;
	width: 100%;
}
#playerScores ol{text-align: left;}
#playerScores li{
	margin:0;
	padding: 0 0 8px .5em;
}
#playerScores li .name{
	float:left;
	width:60%;
	padding-top: .5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#playerScores li .score{
	float: left;
	font-size: 2em;
	font-weight: bold;
	padding: 0 .5em 0 0;
}

#join {
	-webkit-transition: right 1s ease-in-out;
}
#join.maxi {
	position: fixed;
	top:0;
	right:0;
	height: 100%;
	width: 100%;
	padding: 10px;
	background: rgba(0,0,0,0.5)
}
#join.maxi .title{
	font-size: 5em;
	margin: 0 10% 0.05em;
}
#join.maxi .link{
	float: left;
	width: 36%;
	margin:0 0 0 12%;
}
#join.maxi #theQRCode{
	width: 100%;
}
#join.maxi .joinNow{
	background: #fff;
	font-size: 3em;
	float: right;
	width: 36%;
	margin:0 12% 0 0;
}
#join.mini {
	position: fixed;
	bottom:0;
	right:0;
	max-height: 40%;
	width: 15%;
	padding: 10px;
}
#theQRCode{
	float: left;
	width: 60%;
}
#join .joinNow{
	float: right;
	width: 35%;
	word-wrap:break-word;
}
#join .joinNow strong{font-weight: bold;}
