/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/*Some styles for the host*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; } /** http://paulirish.com/2012/box-sizing-border-box-ftw/ **/

body,html{height: 100%; overflow: hidden;}
body{
    background:#ddd;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 1em;
    -webkit-backface-visibility: hidden; /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
}
h1,h2,h3,h4 {
    font-family: 'Lobster', Georgia, Times, serif;
    color: #000;
    text-shadow: 1px 1px 1px #EEE;
}
h1{
    font-size: 3.5em;
    /*text-shadow:1px 1px 1px #ccc;*/
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f5f5f5;
    text-shadow: 3px 3px 3px #aaa;
    text-transform: capitalize;
    font-weight: bold;
}
h2{
    font-size: 1.5em;
    padding: .125em 0;
    /*background: #AF1D8C;*/
    background: #FDF416;
    margin: 0 0 .5em 0;
    box-shadow: 3px 3px 0px #5A5151;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
}
h3{font-size: 1.2em;}
h4{font-size: 1em;}

.button {
    text-align: center;
    display: block;
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 3em;
    border: 4px solid #000;
    border-radius: .5em;
    text-shadow:1px 1px 1px #fff;

    background: rgb(253,244,22); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(253,244,22,1) 0%, rgba(252,247,156,1) 36%, rgba(252,243,83,1) 65%, rgba(252,244,95,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,244,22,1)), color-stop(36%,rgba(252,247,156,1)), color-stop(65%,rgba(252,243,83,1)), color-stop(100%,rgba(252,244,95,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(253,244,22,1) 0%,rgba(252,247,156,1) 36%,rgba(252,243,83,1) 65%,rgba(252,244,95,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(253,244,22,1) 0%,rgba(252,247,156,1) 36%,rgba(252,243,83,1) 65%,rgba(252,244,95,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(253,244,22,1) 0%,rgba(252,247,156,1) 36%,rgba(252,243,83,1) 65%,rgba(252,244,95,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(253,244,22,1) 0%,rgba(252,247,156,1) 36%,rgba(252,243,83,1) 65%,rgba(252,244,95,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf416', endColorstr='#fcf45f',GradientType=0 ); /* IE6-9 */

    box-shadow: 2px 2px 10px #333;

}
.button.small{
    font-size: 1em;
}
.button.quiet{
    background: #ccc;
}
.button.center{
    margin: 0 auto;
}

.yellowTitle{
    padding: .25em 1em; 
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 1.6em;
    padding: .2em 1.2em;
    background: #FDF416;
    box-shadow: 3px 3px 0px #5A5151;
    color: black;
    text-shadow: 1px 1px 1px white; 
}
.fRight {
    float: right;
}
.fL {
    float: left;
}
.inline {
    display: inline-block;
}